.side-drawer{
  height: 100%;
  box-shadow: 2px 0px 5px rgba(0, 0,0, 0.5);
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}


.side-drawer ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.side-drawer li{
  margin: 0.5rem 0;
}


.side-drawer li a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer.open{
  transform: translateX(0);
}


.side-drawer a:hover,
.side-drawer a:active{
color: #ff00ea;
}


@media(min-width: 769px){
.side-drawer{
  display: none;
}
}