.app{
   height: '100%'; 
 width: '100%';  
 background-size: cover;  
 padding: 8rem 2rem 0rem 2rem; 
 background: center center scroll;  
color: whitesmoke;
font-family: 'Courier New'; 
  margin-top: 0; 
 overflow: hidden; 
 justify-content: center;
}

.hr{
    border-top: 2px solid lightblue;
    width: 70rem;
}



@media (max-height: 900px){
.app{
 padding-bottom: 35rem;  
}
.app h1{
  margin-top: 0;
  padding: 0;
}
}


@media (max-width: 769px){
.app {
margin-right: 0rem;
margin-top: 0px;
padding-bottom: 20rem;
padding-right: 2rem;
}
 .app h3{
display: none;
}
.hr{
  display: none;
}
}

 .app h1{
  font-size: 4rem;
  padding-bottom: 1rem;
  text-align: center; 
  font-weight: 500;
  margin-top: -100px;
}


.app a{
   padding-left: 1rem;
    font-size: 1.2rem;
  margin-top: .75rem;
  text-decoration: none;
  color: black;
  font-family: 'Courier New';
} 